html, body {
	margin: 0;
	padding: 0;
	font-family: 'Libre Baskerville', sans-serif;
}

.container {
	width: 980px;
	margin: 0 auto;
}

/* Header */
.header {
	padding-top: 20px;
	border: none;
	background-color: transparent;
}

.navbar-brand {
	padding: 30px 15px 0;
}

.navbar-nav {
	border-bottom: 1px solid #D9DDE2;
}

/* Jumbotron */
.jumbotron {
	background-color: transparent;
	padding: 120px 0 160px;
}

.jumbotron h1 {
	font-size: 52px;
}

.emphasis {
	color: #FFC200;
}

/* Banner */
.banner {
	background-color: #333333;
	color: #fff;
	padding: 20px;
}

/* Cards */
.cards {
	background-color: #FFC200;
	padding: 80px 0 92px;
}

.cards h2 {
	margin-bottom: 48px;
}

.img-media {
	margin: 12px 0;
}

/* Footer */
.footer {
	background-color: #333333;
	color: #fff;
	padding:60px 0;
}

.img-social-media {
	height: 24px;
	margin-right: 12px;
}